@charset "utf-8";


.login_wrap {
    display: flex;
    height: 100vh;
}

/* 왼쪽 */
.login_left {
    width: 73%;
    background-color: #1b3763;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_content {
    text-align: center;
    color: #fff;
    padding: 40px;
    white-space: nowrap;
}

.login_content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #eee;
}
.login_content h2 strong{
    color: #c8a96e;
}
.login_content p {
    font-size: 14px;
    color: #888;
}

/* 오른쪽 */
.login_right {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    min-width: 450px;
}

.login_form {
    width: 100%;
    max-width: 450px;
    padding: 20px;
}

.login_form h2 {
    font-size: 28px;
    font-weight: 700;
    color: #1a2b4a;
    margin-bottom: 8px;
}

.lsub_text {
    font-size: 13px;
    color: #888;
    margin-bottom: 30px;
}

.linput_wrap {
    margin-bottom: 16px;
}

.linput_wrap label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}

.linput_wrap input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.find_links {
    font-size: 13px;
    color: #888;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}
.find_links a {
    display: inline;
    color: #000;
}

.find_links a:hover {
    color: #c4ab68;
}

.lbtn_submit {
    width: 100%;
    padding: 14px;
    background: #003087;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

.lbtn_submit:hover {
    background: #1a2b4a;
}

.join_p {
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 10px;
}

.lbtn_join {
    width: 100%;
    padding: 13px;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

.lbtn_join:hover {
    border-color: #1a2b4a;
    background-color: #eee;
}

.lbtn_main {
    width: 100%;
    padding: 13px;
    background: #888;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.lbtn_main:hover {
    background: #555;
}