@charset 'utf-8';

* {
    box-sizing: border-box;
}

div.content>div.divider {

    width: 100%;
    height: 60px; 
    border-bottom: 1px solid #d1d1d1;
    display: flex; 
    background-color: #f9f9f9;

    justify-content: center;
    align-items: center;    

    gap: 40px;
}

div.content>div.divider .upload, .manage {

    width: 160px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #0e506e;
    border-radius: 6px;     
    transition: all 0.3s;

}

div.content>div.divider .upload {
    position: relative;
}

div.content>div.divider .upload::after {
    content: "";
    position: absolute;
    right: -20px;       
    top: 50%;           
    transform: translateY(-50%); 
    
    width: 1px;         
    height: 48px;       
    background-color: #d1d1d1;
}

div.content>div.divider .upload:hover, 
.manage:hover {

    background-color: #0e506e;
    
}

div.content>div.divider .upload a, .manage a {

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;   

}

div.content>div.divider h2 {

    font-size: 16px;
    font-weight: 600;
    color: #0e506e;
    margin: 0 !important;

}

div.content>div.divider .upload:hover h2, 
div.content>div.divider .manage:hover h2 {

    color: #ffffff; 

}

div.center {

    width: 100%;
    flex: 1;  
    display: flex;

}

div.center .left,
div.center .right {

    width: 50%;
    height: 100%;

}

div.center .left h2 {

    display: block;
	
	font-size: 20px;
	
    margin-left: 35px;
    margin-top: 10px;

}

div.center .left .per {

    width: 100%;
    height: 50%;

}

div.center .left .per span {

    display: block;

    margin-top: 10px;
    margin-left: 32px;

    text-align: center;
    font-weight: 600;

}

div.center .right h2 {

    display: block;

    font-size: 20px;
	
    margin-left: 10px;
    margin-top: 10px;

}

.pagination_wrapper {
    width: 96%;
    margin: -20px 0 30px 10px;
    display: flex;
    justify-content: center;
}

.pagination_wrapper ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #d1d1d1; 
    border-radius: 4px;        
    overflow: hidden;        
}

.pagination_wrapper li {
    border-right: 1px solid #d1d1d1; 
}

.pagination_wrapper li:last-child {
    border-right: none; /* 마지막 버튼 뒤 선 제거 */
}

.pagination_wrapper li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;  
    height: 40px;
    background: #fff;
    color: #444;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s, opacity 0.2s; 
}

.pagination_wrapper li a:hover {
    background-color: #f1f1f1; 
    color: #000;
}

.pagination_wrapper li.active a {
    background-color: #f8f9fa;
    font-weight: bold;
}

