<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CertifiCate-Mapper">

    <select id="selectCertifiCate" resultType="certificate">
        SELECT 
            CER_NUM,
            CLA_NUM,
            CER_NAME,
            CER_SAVE_NAME, 
            CER_SAVE_PATH,   
            CER_REGDATE
        FROM CertifiCate
        WHERE CLA_NUM = #{claNum}
    </select>
    
    <select id="selectCertifiCateCount" resultType="int">
        SELECT COUNT(*)
        FROM CertifiCate
        WHERE CLA_NUM = #{claNum}
    </select>
    
    <insert id="insertCertifiCate" parameterType="certificate">
        INSERT INTO CertifiCate (
            CER_NUM, 
            CLA_NUM, 
            CER_NAME, 
            CER_SAVE_NAME, 
            CER_SAVE_PATH, 
            CER_REGDATE
        ) VALUES (
            #{cerNum}, 
            #{claNum}, 
            #{cerName}, 
            #{cerSaveName}, 
            #{cerSavePath}, 
            SYSDATE
        )
    </insert>
    
    <update id="updateCertifiCate" parameterType="certificate">
        UPDATE CertifiCate
        SET CER_NAME = #{cerName},
            CER_SAVE_NAME = #{cerSaveName},
            CER_SAVE_PATH = #{cerSavePath},
            CER_REGDATE = SYSDATE
        WHERE CER_NUM = #{cerNum} 
     </update>
    
    <select id="selectCertifiCateSeqNext" resultType="str">
        SELECT SEQ_CERTIFICATE.NEXTVAL FROM DUAL
    </select>

</mapper>