<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Class-Mapper">
	
	<select id="selectClassList" resultType="classs">
	    SELECT 
	        c.cla_num, 
	        c.cla_title, 
	        c.cla_goal, 
	        u.user_name, 
	        c.cla_status, 
	        c.cla_startdate, 
	        c.cla_enddate, 
	        c.cla_maxstu, 
	        c.cla_views,
	        t.tet_num  FROM class c
	    	INNER JOIN users u ON c.user_num = u.user_num
	    	LEFT OUTER JOIN test t ON c.cla_num = t.cla_num 
    	<where> 
    	
	        c.user_num = #{userNum}
	        
	        <if test="pageMaker.keyword != null and pageMaker.keyword != ''">
	            AND c.cla_title LIKE '%' || #{pageMaker.keyword} || '%'    
	        </if>
	            
	    </where>
	    
	    ORDER BY c.cla_num ASC
	    
	</select>
	
	<select id="selectSearchClassList" resultType="classs">
	
		select cla_num, cla_title, cla_goal, user_name, cla_status, cla_startdate, cla_enddate, cla_maxstu, cla_views
		from class c
		inner join users u
		on c.user_num = u.user_num
		<where> 
			c.user_num = #{userNum}
			
			<if test="pageMaker.keyword != null and pageMaker.keyword != ''">
				and cla_title like '%' || #{pageMaker.keyword} || '%'	
			</if>	
		</where>
		order by cla_num desc
	
	</select>
	
	<select id="selectSearchClassListCount" resultType="int">
	
		select count(*)
		from class
		<where> 
			user_num = #{userNum}
			<if test="pageMaker.keyword != null and pageMaker.keyword != ''">
				and cla_title like '%' || #{pageMaker.keyword} || '%'	
			</if>	
		</where>
	
	</select>
	
	<select id="selectClassByCla_num" resultType="classs">
	
		select cla_num, cla_title, cla_content, cla_goal, cla_category, cla_complete, 
       	user_name, u.user_photo, cla_status, cla_startdate, cla_enddate, cla_maxstu, cla_views,
      	(SELECT COUNT(*) FROM classapply ca WHERE ca.cla_num = c.cla_num) AS applyCnt
		from class c
		inner join users u
		on c.user_num = u.user_num
		where cla_num = #{claNum}
	
	</select>
	
	<insert id="insertClass" parameterType="classs">
	
		<selectKey keyProperty="claNum" resultType="str" order="BEFORE">
        	SELECT seq_class.nextval FROM dual
    	</selectKey>
	
		insert into class(cla_num, cla_title, cla_content, cla_goal, cla_category, user_num, cla_startdate, cla_enddate, cla_maxstu, cla_complete)
		values (#{claNum}, #{claTitle}, #{claContent}, #{claGoal, jdbcType=VARCHAR}, #{claCategory}, #{userNum}, #{claStartDate, jdbcType=DATE}, #{claEndDate, jdbcType=DATE}, #{claMaxStu, jdbcType=INTEGER}, #{claComplete, jdbcType=VARCHAR})
	
	</insert>
	
	<update id="increaseViewCnt" parameterType="Str">
	
		update class set
		cla_views = cla_views+1
		where cla_num = #{claNum}
	
	</update>
	
	<select id="selectClassSeqNext" resultType="str">
	
		select
		seq_class.nextval as cla_num from dual
	
	</select>
	
	<select id="selectStudentListByClaNum" resultType="user">
	
    	SELECT 
       	 	u.* FROM users u
    		INNER JOIN classapply ca ON u.user_num = ca.user_num
   		WHERE ca.cla_num = #{claNum}
    
    		<if test="pageMaker.keyword != null and pageMaker.keyword != ''">
        		AND (
           	 		u.user_name LIKE '%' || #{pageMaker.keyword} || '%' 
            	OR 
            		u.user_email LIKE '%' || #{pageMaker.keyword} || '%'
        			)
   	 		</if>
    
   		 ORDER BY u.user_name ASC
   		 
	</select>
	
	<select id="selectStudentListCount" resultType="int">
	
    		SELECT COUNT(*) FROM users u
    		inner join classapply ca
    		on u.user_num = ca.user_num
   	 		WHERE ca.cla_num = #{claNum}
    
    	<if test="pageMaker.keyword != null and pageMaker.keyword != ''">
    
        	AND (
            	u.user_name LIKE '%' || #{pageMaker.keyword} || '%' 
            	OR 
            	u.user_email LIKE '%' || #{pageMaker.keyword} || '%'
        	)
        
    	</if>
    
	</select>
	
<!-- 승인완료 강좌 목록 (수강신청 인원수 포함) -->
<select id="selectApprovedClassList" resultType="classs">
    SELECT 
        c.cla_num,
        c.cla_title,
        c.cla_category,
        c.cla_content,
        c.cla_goal,
        c.cla_complete,
        c.cla_startdate,
        c.cla_enddate,
        c.cla_maxstu,
        c.cla_status,
        c.cla_views,
        u.user_name,
        u.user_photo,
        (SELECT COUNT(*) FROM classapply ca WHERE ca.cla_num = c.cla_num) AS applyCnt
    FROM class c
    INNER JOIN users u ON c.user_num = u.user_num
    <where>
	    c.cla_status = '승인완료'
	    AND c.cla_enddate >= SYSDATE
	    <if test="pageMaker.keyword != null and pageMaker.keyword != ''">
	        AND c.cla_title LIKE '%' || #{pageMaker.keyword} || '%'
	    </if>
	    <if test="category != null and category != ''">
	        AND c.cla_category = #{category}
	    </if>
	</where>
    <choose>
        <when test="sortType == 'views'">
            ORDER BY c.cla_views DESC
        </when>
        <when test="sortType == 'recruit'">
            ORDER BY (SELECT COUNT(*) FROM classapply ca WHERE ca.cla_num = c.cla_num) / c.cla_maxstu DESC
        </when>
        <otherwise>
            ORDER BY c.cla_num DESC
        </otherwise>
    </choose>
</select>

<!-- 승인완료 강좌 총 개수 (페이징용) -->
<select id="selectApprovedClassListCount" resultType="int">
    SELECT COUNT(*)
    FROM class c
    <where>
	    c.cla_status = '승인완료'
	    AND c.cla_enddate >= SYSDATE
	    <if test="pageMaker.keyword != null and pageMaker.keyword != ''">
	        AND c.cla_title LIKE '%' || #{pageMaker.keyword} || '%'
	    </if>
	    <if test="category != null and category != ''">
	        AND c.cla_category = #{category}
	    </if>
	</where>
</select>

<update id="updateClassStaEndDate">
    UPDATE class SET
        cla_startdate = TO_DATE(#{eduStart}, 'YYYY-MM-DD'),
        cla_enddate   = TO_DATE(#{eduEnd},   'YYYY-MM-DD'),
        cla_maxstu    = #{maxStudents},
        cla_complete  = #{completeCondition}
    WHERE cla_num = #{courseNo}
</update>

<select id="getClassList" resultType="com.school.dto.ClassVO">
    SELECT CLA_NUM, CLA_TITLE 
    FROM CLASS
    ORDER BY CLA_REGDATE DESC
</select>

<insert id="insertBonusCriteria" parameterType="com.school.dto.BonusCriteriaVO">
    INSERT INTO BONUS_CRITERIA (BC_NUM, CLA_NUM, BC_CONTENT, BC_SCORE, BC_NOTE, USER_NUM, BC_REGDATE)
    VALUES (BC_SEQ.NEXTVAL, #{claNum}, #{bcContent}, #{bcScore}, #{bcNote}, #{userNum}, SYSDATE)
</insert>

</mapper>









