<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ExamResult-Mapper">
  	<select id="selectExamResult" resultType="examresult">
  	SELECT
  			ER_NUM, 
  			TET_NUM, 
  			USER_NUM, 
  			ER_ATTEMPT, 
  			ER_SCORE, 
  			ER_PASS, 
  			ER_DATE
  			
  	FROM	EXAM_RESULT
  	WHERE 	ER_NUM = #{erNum}
  	</select>
  	
  	
  	<select id="selectExamResultByuserNum" resultType="examresult">
  	SELECT
  			ER_NUM, 
  			TET_NUM, 
  			USER_NUM, 
  			ER_ATTEMPT, 
  			ER_SCORE, 
  			ER_PASS, 
  			ER_DATE
  			
  	FROM	EXAM_RESULT
  	WHERE 	USER_NUM = #{userNum}
  	ORDER BY ER_NUM DESC 
  	</select>
  	
  	<insert id="insertExamResult" parameterType="examresult">
  		INSERT INTO EXAM_RESULT(ER_NUM, TET_NUM, USER_NUM, ER_ATTEMPT, ER_SCORE, ER_PASS, ER_DATE)
  		VALUES (#{erNum},#{tetNum},#{userNum},#{erAttempt},#{erScore},#{erPass},SYSDATE)
  	</insert>
  	
  	<select id="selectExamResultByTetAndUser" parameterType="examResult" resultType="examResult">
    SELECT * FROM EXAM_RESULT 
    WHERE TET_NUM = #{tetNum} 
      AND USER_NUM = #{userNum}
</select>
  	
  	
  	 <select id="selectExamResultSeqNext" resultType="int">
    SELECT SEQ_EXAM_RESULT.NEXTVAL AS ER_NUM FROM DUAL
</select>
  	
  	
  </mapper>