<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ExamAnswer-Mapper">

    <insert id="insertExamAnswer" parameterType="examanswer">
        INSERT INTO EXAM_ANSWER (EA_NUM, ER_NUM, QUE_NUM, EA_SELECTED, EA_CORRECT)
        VALUES (#{eaNum}, #{erNum}, #{queNum}, #{eaSelected}, #{eaCorrect})
    </insert>

    <select id="selectAnswersByResultNum" resultType="examanswer">
        SELECT 
            EA_NUM,
            ER_NUM, 
            QUE_NUM, 
            EA_SELECTED, 
            EA_CORRECT
        FROM EXAM_ANSWER
        WHERE ER_NUM = #{erNum}
    </select>

    <select id="selectExamAnswerResultDetails" resultType="examanswer">
        SELECT 
           A.EA_NUM,
           A.EA_SELECTED,
           A.EA_CORRECT,
           Q.QUE_NUM,
           Q.QUE_TEXT,
           Q.QUE_ANSWER,
           Q.QUE_DESC,
           Q.QUE_POINT
        FROM EXAM_ANSWER A
        JOIN QUESTION Q ON A.QUE_NUM = Q.QUE_NUM
        WHERE A.ER_NUM = #{erNum}
        ORDER BY Q.QUE_NUM ASC
    </select>

    <update id="updateExamAnswer" parameterType="examanswer">
        UPDATE EXAM_ANSWER
        SET EA_CORRECT = #{eaCorrect}
        WHERE EA_NUM = #{eaNum}
    </update>
    
    
    <select id="selectExamAnswerSeqNext">
    	SELECT SEQ_EXAM_ANSWER.NEXTVAL AS EA_NUM FROM DUAL
	</select>

</mapper>