<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="LessonAttach-Mapper">

    <resultMap id="lessonAttachMap" type="lessonAttach">
        <id property="laNum" column="LA_NUM" />
        <result property="lsnNum" column="LSN_NUM" />
        <result property="laName" column="LA_NAME" />
        <result property="laSaveName" column="LA_SAVE_NAME" />
        <result property="laPath" column="LA_PATH" />
        <result property="laType" column="LA_TYPE" />
    </resultMap>
 
    <select id="selectLessonAttachSeqNext" resultType="str">
        SELECT SEQ_LESSON_ATTACH.NEXTVAL FROM DUAL
    </select>
 
    <insert id="insertLessonAttach" parameterType="lessonAttach">
        INSERT INTO LESSON_ATTACH(LA_NUM, LSN_NUM, LA_NAME, LA_SAVE_NAME, LA_TYPE, LA_PATH)
        VALUES(#{laNum}, #{lsnNum}, #{laName}, #{laSaveName}, #{laType}, #{laPath})
    </insert>
 
    <select id="selectLessonAttachList" parameterType="str" resultMap="lessonAttachMap">
        SELECT * FROM LESSON_ATTACH
        WHERE LSN_NUM = #{lsnNum}
        ORDER BY LA_NUM ASC 
    </select>
 
    <delete id="deleteLessonAttach" parameterType="str">
        DELETE FROM LESSON_ATTACH
        WHERE LA_NUM = #{laNum}
    </delete>
 
    <delete id="deleteLessonAttachByParent" parameterType="str">
        DELETE FROM LESSON_ATTACH
        WHERE LSN_NUM = #{lsnNum}
    </delete>
    
    <delete id="deleteLessonAttachBySaveName">
        DELETE FROM LESSON_ATTACH
        WHERE LA_SAVE_NAME = #{laSaveName}
    </delete>
    
    <select id="selectLessonAttachByLaNum" resultMap="lessonAttachMap">
        SELECT 
            LA_NUM, 
            LSN_NUM, 
            LA_NAME, 
            LA_TYPE, 
            LA_SAVE_NAME, 
            LA_PATH
        FROM LESSON_ATTACH 
        WHERE LA_NUM = #{laNum}
    </select>
    
   <select id="selectLessonFileList" resultType="com.school.dto.LessonAttachVO">
    SELECT 
        LA_NUM as laNum,
        LSN_NUM as lsnNum,
        LA_NAME as laName,
        LA_TYPE as laType,
        LA_SAVE_NAME as laSaveName,
        LA_PATH as laPath
    FROM LESSON_ATTACH 
    WHERE LSN_NUM = #{lsnNum}
</select>
    
</mapper>