<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Message-Mapper">

	<select id="selectMessageSeqNext" resultType="str">
		SELECT SEQ_MESSAGE.NEXTVAL FROM DUAL
	</select>

	<insert id="insertMessage" parameterType="message">
		INSERT INTO MESSAGE(MS_NUM, MS_CONTENT, MS_SENDER_NUM, MS_RECEIVER_NUM, TET_NUM)
		VALUES(#{msNum}, #{msContent}, #{msSenderNum}, #{msReceiverNum}, #{tetNum, jdbcType=VARCHAR})
	</insert>

	<select id="selectReceivedList" parameterType="str" resultType="message">
		SELECT 
			M.MS_NUM, 
			M.MS_CONTENT, 
			M.MS_SENDDATE, 
			M.MS_CHECK, 
			M.MS_SENDER_NUM, 
			M.MS_RECEIVER_NUM,
			U.USER_NAME AS msSenderName 
		FROM MESSAGE M
		LEFT JOIN USERS U ON M.MS_SENDER_NUM = U.USER_NUM 
		WHERE M.MS_RECEIVER_NUM = #{userNum}
		ORDER BY M.MS_CHECK ASC, M.MS_SENDDATE DESC
	</select>

	<select id="selectSentList" parameterType="str" resultType="message">
		SELECT * FROM MESSAGE
		WHERE MS_SENDER_NUM = #{userNum}
		ORDER BY MS_SENDDATE DESC
	</select>

	<select id="selectMessageByNum" parameterType="str" resultType="message">
		SELECT 
            M.MS_NUM, 
            M.MS_CONTENT, 
            M.MS_SENDDATE, 
            M.MS_CHECK, 
            M.MS_SENDER_NUM, 
            M.MS_RECEIVER_NUM,
            U.USER_NAME AS msSenderName
        FROM MESSAGE M
        LEFT JOIN USERS U ON M.MS_SENDER_NUM = U.USER_NUM
        WHERE M.MS_NUM = #{msNum}
	</select>

	<update id="updateMessageCheck" parameterType="str">
		UPDATE MESSAGE
		SET MS_CHECK = 'Y'
		WHERE MS_NUM = #{msNum}
	</update>

	<delete id="deleteMessage" parameterType="str">
		DELETE FROM MESSAGE
		WHERE MS_NUM = #{msNum}
	</delete>

	<select id="selectUnreadCount" parameterType="str" resultType="int">
		SELECT COUNT(*)
		FROM MESSAGE
		WHERE MS_RECEIVER_NUM = #{userNum}
		AND MS_CHECK = 'N'
	</select>
	
	<select id="selectPassStudentByUserNum" parameterType="map" resultType="str">
	    SELECT MAX(ER.ER_PASS) 
   		FROM EXAM_RESULT ER
    	JOIN TEST T ON ER.TET_NUM = T.TET_NUM
    	WHERE T.CLA_NUM = #{claNum}    AND ER.USER_NUM = #{userNum}
	</select>

</mapper>