<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Question-Mapper">
  
  	<!-- pk 시퀀스 번호 -->
	<select id="selectQuestionSeqNext" resultType="str">
		SELECT SEQ_QUESTION.NEXTVAL FROM DUAL
	</select>
 
  
  	
  	<update id="updateQuestion" parameterType="question">
  	
  		update question set
  		que_text = #{queText},
  		que_opt1 = #{queOpt1},
  		que_opt2 = #{queOpt2},
  		que_opt3 = #{queOpt3},
  		que_opt4 = #{queOpt4},
  		que_answer = #{queAnswer},
  		que_desc = #{queDesc}
  		where que_num = #{queNum, jdbcType=VARCHAR}
  	
  	</update>

    <insert id="insertQuestion" parameterType="question">
        INSERT INTO question (que_num, tet_num, que_seq, que_text, que_opt1, que_opt2, que_opt3, que_opt4, que_answer, que_desc, que_point)
        VALUES (#{queNum}, #{tetNum}, #{queSeq}, #{queText}, #{queOpt1}, #{queOpt2}, #{queOpt3}, #{queOpt4}, #{queAnswer}, #{queDesc}, #{quePoint})
    </insert>
    
    <select id="selectQuestionList" resultType="question">
        SELECT *
        FROM question
        WHERE tet_num = #{tetNum}
        ORDER BY que_num
    </select>

    
    <select id="selectQuestionsByTetNum" resultType="question">
        SELECT * FROM QUESTION 
        WHERE TET_NUM = #{tetNum} 
        ORDER BY QUE_SEQ ASC
    </select>
  
</mapper>